.invalid-feedback{
    color: red;
}

.form{
    padding: 10px;
    .form-group{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        flex-direction: row;
        input{
            margin-left: 15px;
            padding: 5px 5px;
        }
    }
}